<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="produce-title"><%- config.title %></h2>
      <h1>
        The ultimate <br>dashboard for Rails
      </h1>
      <p>
        <a class="button" href="<%- config.get_started_url %>">GET STARTED</a>
        <a class="button white" href="<%- config.github %>" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Simple</h2>
      <p>Faalis is really simple. Generate a resource from a model and let it manage the rest.</p>
    </div>

    <div class="point">
      <h2>Easy to use</h2>
      <p>You only have to manage your models and optional dashboard controllers with simple DSL.</p>
    </div>

    <div class="point">
      <h2>Customizable</h2>
      <p>
        Easily extensible by<br>
        adding new gems or override<br>
        the engine under the hood.
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>PROUDLY SPONSORED BY</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="<%- url_for("/support-faalis/") %>">Become a Backer</a>
  </div>
</div>

<div id="footer">
  <p>Released under the <a href="<%- config.license_url %>" target="_blank"><%- config.license_name %> License</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> <%- config.copyright_holder %></p>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'Yellowen/Faalis'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
